In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [33]:
# open pickle file 
with open('../results/25days/predictions_0_1.pkl', 'rb') as f:
    df_dict = pickle.load(f)

rolled_df = pd.DataFrame()
for key, value in df_dict.items():
    #if key is not 'Real Temperature' or 'IEEE 738'
    
    current_df = df_dict[key]
    current_df_melted = pd.melt(current_df, id_vars=['datetime'], value_vars=current_df.columns[1:], var_name='measurement', value_name='value')
    print(current_df_melted.isna().sum())
    current_df_melted_sorted = current_df_melted.sort_values(['datetime', 'measurement'])
    current_df_value = current_df_melted_sorted['value']
    #reset index
    current_df_value = current_df_value.reset_index(drop=True)
    if (key != 'Real Temperature') and (key != 'IEEE 738'):
        current_df_value_rolled = current_df_value.rolling(window=15, min_periods=1).mean()
        rolled_df[key] = current_df_value_rolled
    else:
        rolled_df[key] = current_df_value

datetime         0
measurement      0
value          122
dtype: int64
datetime         0
measurement      0
value          122
dtype: int64
datetime         0
measurement      0
value          122
dtype: int64
datetime         0
measurement      0
value          122
dtype: int64
datetime         0
measurement      0
value          122
dtype: int64
datetime         0
measurement      0
value          122
dtype: int64
datetime         0
measurement      0
value          122
dtype: int64

In [34]:
#show lines with nas
rolled_df[rolled_df.isna().any(axis=1)]

,Transfer Parameter-based,Transfer Instance-based,Source Only,Target Only,Source + Target (No Transfer),Real Temperature,IEEE 738
43078,5.876720,5.505858,6.730988,6.425490,5.482682,NaN,NaN
43079,5.892224,5.528241,6.744216,6.442840,5.498855,NaN,NaN
43080,5.904818,5.556236,6.751245,6.460002,5.511730,NaN,NaN
43081,5.933685,5.611232,6.770233,6.495306,5.543405,NaN,NaN
43082,5.947223,5.637572,6.780348,6.513710,5.556398,NaN,NaN
...,...,...,...,...,...,...,...
43195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43197,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43198,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43199,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Use melt() function to stack all measurements in a single column

#sort by datetime and measurement




df_melted

0     15.996940
5     15.910762
10    15.941083
15    15.714501
1     13.310912
6     13.274688
11    13.401317
16    13.363168
2     14.907932
7     14.862144
12    14.873088
17    14.783866
3     12.922885
8     13.016144
13    12.974367
18    12.971177
4     20.063210
9     19.953539
14    20.137577
19    19.864817
Name: value, dtype: float32

Rolling [window=3,min_periods=1,center=False,axis=0,method=single]

In [21]:

df_rolled

0     15.996940
5     15.953851
10    15.949595
15    15.855449
1     14.988832
6     14.100034
11    13.328972
16    13.346391
2     13.890806
7     14.377748
12    14.881055
17    14.839699
3     14.193280
8     13.574298
13    12.971132
18    12.987229
4     15.336251
9     17.662642
14    20.051442
19    19.985311
Name: value, dtype: float64